[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
async-lru = "*"
certifi = "*"
charset-normalizer = "*"
idna = "*"
pyaes = "*"
pyrogram = "*"
pysocks = "*"
requests = "*"
urllib3 = "*"

[dev-packages]

[requires]
python_version = "3.9"
